.react-flow__edge-path {
    stroke: #60a5fa !important;
    stroke-width: 3px !important;
    opacity: 1 !important;
}

.react-flow__edges {
    z-index: 9999 !important;
    pointer-events: all !important;
}